@model Recruitment.API.Models.VacancyViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4><a asp-action="Index">Atpakaļ pie atvērtajām vakancēm</a></h4>
        </div>
    </div>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Name" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="OpeningDate" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="OpeningDate" class="form-control" />
            </div>
            <span asp-validation-for="OpeningDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ClosingDate" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="ClosingDate" class="form-control" />
            </div>
            <span asp-validation-for="ClosingDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="SkillValue" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="SkillValue" class="form-control" />
            </div>
            <span asp-validation-for="SkillValue" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="SkillTypeId" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <select asp-for="SkillTypeId" class="form-control" asp-items="ViewBag.SkillTypeName"></select>
            </div>
        </div>
        <div class="form-group pull-right">
            <input type="submit" value="Izveidot" class="btn btn-info" />
        </div>
    </form>
</div>