@{
    ViewData["Title"] = "Home Page";
}


@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p>Signed in</p>
}
